.prodUnique{
    perspective: 1000px;
    img{
        height: 40vh;
        width: 25vw;
        border-radius: 15px;
        object-fit: cover;
        box-shadow: 0px 0px 10px gray;
        transform: rotateX(30deg);
    }
    @media (min-width: 375px) and (max-width: 425px){
        img{
            width: 80vw;
        }
    }
}