.pageTitle {
    background-image: url("../../assets/images/grayWall.jpg");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}