.prodCard {
    position: relative;
    height: 333px;
    width: 275px;
    transition: all 0.5s;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 5%;
        left: 5%;
    }

    p {
        margin-left: 5%;
    }

    .darkness {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0;
    }

    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;

        .icons {
            top: 5%;
            right: 5%;
            position: absolute;
        }
    }
}

.prodCard:hover {
    transform: scale(1.1);
}

.prodCard:hover .darkness {
    opacity: 0.5;
}

.prodCard:hover .text {
    color: white;
}