.heroCarousel{
    .carousel-item{
        height: 75vh;
        .heroText{
            color: white;
            margin-bottom: 20vh;
            h1{
                border-bottom: 5px solid white;
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
    }
}