.heroCarousel{
    margin-top: 7vw;
    .active{
        position: relative;
        .heroText{
            position: absolute;
            width: 100%;
            top: -15vw ;
            left: 0%;
            color: white;
            h1{
                border-bottom: 4px solid white;
                width: fit-content;
                margin-left: 35%;
            }
        }
    }
}