nav{
    background-color: white;
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 1111;
    top: 0%;
    left: 0%;
    a{
        text-decoration: none;
        color: black;
    }
    .active {
        color: red;
        border-bottom: 2px solid black;
    }
}

.navBtn{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 111;
    
}